@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  src: url("interui/Inter-UI-Regular.woff2") format("woff2"),
       url("interui/Inter-UI-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 400;
  src: url("interui/Inter-UI-Italic.woff2") format("woff2"),
       url("interui/Inter-UI-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 500;
  src: url("interui/Inter-UI-Medium.woff2") format("woff2"),
       url("interui/Inter-UI-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 500;
  src: url("interui/Inter-UI-MediumItalic.woff2") format("woff2"),
       url("interui/Inter-UI-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 700;
  src: url("interui/Inter-UI-Bold.woff2") format("woff2"),
       url("interui/Inter-UI-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 700;
  src: url("interui/Inter-UI-BoldItalic.woff2") format("woff2"),
       url("interui/Inter-UI-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: 'Authentic Sans';
  src: url('fonts/AUTHENTIC-Sans.woff') format('woff'),
       url('fonts/AUTHENTIC-Sans.woff2') format('woff2');
}
@font-face {
  font-family: 'Lunchtype22 L';
  src: url('fonts/lunchtype22-light-webfont.woff2') format('woff2'),
       url('fonts/lunchtype22-light-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Lunchtype22 M';
  src: url('fonts/lunchtype22-medium-webfont.woff2') format('woff2'),
       url('fonts/lunchtype22-medium-webfont.woff') format('woff');
}
